<% include partials/home.ejs %>

<script >
$(document).ready(function(){

  $(".deleteForm").on("submit", function(e) {
    e.preventDefault()
    var id = $(this).attr("action")
    var num = id.match(/[1-9][0-9]|[0-9]/)
    var url = "/favorite/"+num
    var that = $(this)
    $.ajax({
        url: url,
        type: 'DELETE',
        success: function(result) {
            that.closest('div').remove()
            console.log("It's gone!")
        },
        error: function(data){
          console.log("Oops! Something went wrong..", data)
        }
    });
  });
})

</script>

<div class="content" style="float: left;width: 50%; margin-top: 70px; background-color: #384452;">
  <div class="searchBar">
    <form action="/search" class="awesomeSauce">
      <input type="text" id="foodTitle" name="foodTitle" autofocus placeholder="Search for a Recipe?" class="search"
      <input type="submit" class="submit">
    </form>
  </div>
</div>

<div class="content" style="width: 50%; float: RIGHT; margin-top: 70px">
  <div class="searchBar" style="background-color: #384452;">
    <form action="/yelp" class="awesomeSauce">
      <input type="text" id="yelpTitle" name="yelpTitle" autofocus placeholder="Search for a Restaruant?" class="search"
      <input type="submit" class="submit">
    </form>
  </div>
</div>
<br>

<div class="container text-center" style="margin-top: 80px;">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Victory Page
      <small>Recipe Champions!</small>
      </h1>
      <h3>Take a look back at your victorious recipes!</h3>
      <p class="lead">Well... take a look below!!</p>
    </div>
  </div>


    <div class="row">
    <% allFoods.forEach(function(food,index){ %>
    <% if(index % 4 === 0) {%>
    </div>
    <div class="row">

      <div class="col-lg-3  thumbnail">
        <img class="img-thumbnail" src="<%= JSON.parse(food.recipe).images[0].hostedLargeUrl %>" alt="">
        <h3><%= JSON.parse(food.recipe).name %></h3>
        <p class="lead"><%= JSON.parse(food.recipe).ingredientLines %></p>
        <ul class="list-inline text-center">
          <li><a target="_blank" href="<%= JSON.parse(food.recipe).source.sourceRecipeUrl %>">How to Make it!</a></li>
          |
          <li>
            <form class ="deleteForm" action="/favorite/<%= food.id %>?_method=delete" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </li>
        </ul>
      </div>

    <% } else { %>
      <div class="col-lg-3 thumbnail">
        <img class="img-thumbnail" src="<%= JSON.parse(food.recipe).images[0].hostedLargeUrl %>" alt="">
        <h3><%= JSON.parse(food.recipe).name %></h3>
        <p class="lead"><%= JSON.parse(food.recipe).ingredientLines %></p>
        <ul class="list-inline text-center">
          <li><a target="_blank" href="<%= JSON.parse(food.recipe).source.sourceRecipeUrl %>">How to Make it!</a></li>
          |
          <li>
            <form class ="deleteForm" action="/favorite/<%= food.id %>?_method=delete" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </li>
        </ul>
      </div>
    <% } %>
  <% }) %>
  </div>
  </div>

  <% include partials/newFooter.ejs %>